.wrapper img {
    width: 40vmax;
    height: max-content;
    max-height: max-content;
    object-fit: cover;
    object-position: center;

}


.wrapper-main img {
    width: 40vmax;
    height: max-content;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width:580px) {
    .wrapper img {
        width: 100%;
        height: max-content;

    }

    .slider-button {
        padding: 0;
        margin: 0;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}